body {background-color: black;font-family: Arial; color: white;}
h1{color:grey; font-family: verdana;}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:40px;
    border-radius:25px;
}
.highlightme{
    background-color: yellow;
}
